/*
* Import the Neucha font from Google fonts to be used in the App.
*/
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/*
* The App container sets the overall layout and font for the entire application.
* It is set to take up the full viewport height and width, and uses flexbox to align the contents in a column.
* The background color is set to a blue-ish color and the font family is set to the imported Neucha font.
*/
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: 'Neucha', cursive;
}

/*
* The heading class styles the main title of the application.
* It is set to uppercase, with a font size of 2.5rem and a margin of 1.875rem.
* The text color is set to white and it is aligned center.
*/
.heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin: 1.875rem 0;
  color: white;
  z-index: 1;
  text-align: center;
}

